
name: run unit test on feature branches
on:
  push:
    branches:
     - 'features/*'
jobs:
  run_unit_test: 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0
        
      - name: run_unit_test
        run: mvn test
