name: Run unit test on feature branches

on:
  push:
    branches:
      - 'features/*'

jobs:
  run_unit_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Run unit test
        run: mvn test
